<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Today's Mood_SignUp</title>
</head>
<body>
<header>
    <div class="home">
        <h1>TODAY'S MOOD</h1>
    </div>
</header>
<section>
    <div class="part1">
        <form action="signupOk" method="post" name="frm">
            <table class="table">
                <caption>
                    <h3>ENROLLMENT</h3>
                </caption>
                <tr>
                    <th>
                        ID
                    </th>
                    <td>
                        <input type="text" name="user_id" />
                    </td>
                </tr>
                <tr>
                    <th>
                        PASSWORD
                    </th>
                    <td>
                        <input type="password" name="user_pw" />
                    </td>
                </tr>
                <tr>
                    <th>
                        PASSWORD CONFIRM
                    </th>
                    <td>
                        <input type="password" name="user_pwconf" />
                        <input type="button" value="check" onclick="conf()" /> >
                    </td>
                </tr>
                <tr>
                    <th>
                        NAME
                    </th>
                    <td>
                        <input type="text" name="user_name" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="OK" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</section>
<footer>
    <h6>

    </h6>
</footer>
</body>
</html>